!!!
%html
	%head
		%title ON'R
		%link(href="/main.css" media="screen" rel="stylesheet" type="text/css")/
	%body
		.wrap
			.header
				#logo
					%a(href="/")
						ON'R - Oto and Najk Runnin'
			.main
				=yield
			.footer
				%p
					Experiment by
					%a(href="http://opalab.com") opalab.com
					\- just for fun ;)
					\- nov 2011
					\- 
					%a(href="http://twitter.com/otobrglez") @otobrglez