/* By Oto Brglez - <oto.brglez@opalab.com> */

$width: 800px;

body,td,th,p{
	font: 16px/18px rockwell, helvetica, sans-serif;
	color:#8C9DAD;
}

a{
	color:#8C9DAD;
	font-weight:bold;
	text-decoration:none;
}

h1,h2,h3{
	font-weight:normal;
}

h1,h2,h3,p,html,body{
	margin:0;
	padding:0;
}

body{
	text-align:center;
	div.wrap{
		text-align:left;
		display:block;
		max-width:$width;
		margin:0px auto;
	}
}

div#logo{
	a{
		display:inline-block;
		width:130px;
		height:130px;
		background-image:url('onr_logo.png');
		background-position:0px 0px;
		background-repeat:no-repeat;
		text-indent:-300px;
		overflow:hidden
	}
}

.header, .footer, .main{
	display:block;
	padding:10px;
	max-width:$width - 20px;
}

.footer{
	border-top:1px dotted #8C9DAD;
}